# Project: ICD-AIS conversion using Deep Learning

This converts ICD codes to AIS using an SMT translation file.

## Setup

In [27]:
import numpy as np
import pandas as pd
import sqlite3
import random
import math

## Parameters

In [28]:
icd_obs_file ="../Data/test_icd_pre_I9_A05.csv" # List of ICD codes associated with patient injuries
ais_map_codes_file = "../Data/AIS08_mapped_codes.csv" # Maps AIS08 to AIS98
smt_map_file = "../Results/SMT_ICD_AIS_map.csv" # Created from GIZA. Has the ICD code and it's ?most likely AIS code? and the probability that that's the correlation
ais_codes_file = "../Data/AIS08_codes.csv" # This maps AIS08 to AIS98

## Load data

In [29]:
# load ICD codes into a pandas object
icd_codes = pd.read_csv(icd_obs_file, header=None, names=["ICD9CODE"])
icd_codes.head(5)

                                          ICD9CODE
0                  A79 E880.9 P87.03 P87.44 D850.0
1             A55 E884.9 P-2 D805.2 D805.4 D807.03
2                 A70 E885.9 P79.35 P87.03 D820.21
3  A56 E881.0 P88.01 P88.38 D805.4 D823.01 D825.20
4                           A40 E986 P54.11 D879.4

In [30]:
# load ICD-AIS map (via statistical method training?)
smt_map = pd.read_csv(smt_map_file, header=0).rename(columns={'icd_code':'icd9_code'})

In [31]:
smt_map.head(5)

  icd9_code  ais_code      prob
0     004.2    241699  0.001267
1     004.9    856161  0.000054
2     005.9    251000  0.000023
3    008.42    854455  0.000034
4    008.45    545699  0.023131

In [32]:
# load AIS codes that are mapped from 08 to 98
ais_codes = pd.read_csv(ais_codes_file, header=0, encoding='iso-8859-1')

# Get predot code... so the AIS code that prefixes the point (severity)
# Note this line adds a new column that has the code without the severity (code is the 08 code?)
ais_codes['predot'] = ais_codes.code.apply(lambda x: math.floor(x))

# Make dictionary of codes
# So it looks here like this dict maps predot codes to various full AIS codes
ais_dot = pd.Series(ais_codes.code.values, index=ais_codes.predot).to_dict()
ais_dot[0] = 0.0 # Used as error codes unknown/invalid
ais_dot[-1] = -1.0

## Add severity code

In [33]:
# So here we're using the AIS dot dict to find the severity code for 10000
ais_dot[10000]

10000.1

In [34]:
# Now what we do is we go back to the smt_map, which AIS codes, had no severity (see above) and use our ais_dot dict to add the severity score
smt_map['ais_code'] = smt_map.apply(lambda x: ais_dot[x.ais_code], axis=1)

In [35]:
smt_map.head(5)

  icd9_code  ais_code      prob
0     004.2  241699.1  0.001267
1     004.9  856161.3  0.000054
2     005.9  251000.1  0.000023
3    008.42  854455.2  0.000034
4    008.45  545699.1  0.023131

## Convert ICD codes with tidy format

In [36]:
# split strings into separate columns (wide format)
icd_codes = icd_codes.ICD9CODE.str.split(' ', expand=True)

In [37]:
icd_codes

,0,1,2,3,4,5,6,7,8,9,...,117,118,119,120,121,122,123,124,125,126
0,A79,E880.9,P87.03,P87.44,D850.0,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,A55,E884.9,P-2,D805.2,D805.4,D807.03,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,A70,E885.9,P79.35,P87.03,D820.21,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,A56,E881.0,P88.01,P88.38,D805.4,D823.01,D825.20,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,A40,E986,P54.11,D879.4,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122369,A22,E881.1,P78.13,D812.40,D813.40,D813.43,D850.9,D884.0,None,None,...,None,None,None,None,None,None,None,None,None,None
122370,A66,E885.9,P-2,D852.01,D873.43,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
122371,A83,E888.9,P87.03,P88.38,P93.90,D852.05,D852.25,None,None,None,...,None,None,None,None,None,None,None,None,None,None
122372,A50,E816.0,P34.04,D807.09,D860.0,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
122373,A20,E812.1,P-2,D807.02,D812.31,D873.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [38]:
# convert to long format
icd_codes = pd.DataFrame(icd_codes.stack()).reset_index().rename(columns={'level_0':'key',0:'icd9_code'}).drop(columns=['level_1'])

## Trim to only diagnosis codes

In [39]:
# remove all codes that are not 'D' codes
icd_codes = icd_codes[icd_codes.icd9_code.str.contains('D')].reset_index(drop=True)
#icd_codes = icd_codes[~icd_codes.icd9_code.str.contains('V')].reset_index(drop=True)

In [40]:
# remove leading 'D' 
#icd_codes['icd9_code'] = icd_codes.icd9_code.apply(lambda x: x.lstrip('D'))

In [41]:
len(icd_codes)

440800

In [42]:
icd_codes

           key icd9_code
0            0    D850.0
1            1    D805.2
2            1    D805.4
3            1   D807.03
4            2   D820.21
...        ...       ...
440795  122372   D807.09
440796  122372    D860.0
440797  122373   D807.02
440798  122373   D812.31
440799  122373    D873.0

[440800 rows x 2 columns]

In [43]:
smt_map

     icd9_code  ais_code      prob
0        004.2  241699.1  0.001267
1        004.9  856161.3  0.000054
2        005.9  251000.1  0.000023
3       008.42  854455.2  0.000034
4       008.45  545699.1  0.023131
...        ...       ...       ...
6112    999.51  853221.3  0.000023
6113    999.80  544226.4  0.000081
6114    999.88  140656.5  0.000021
6115    999.89  878163.1  0.006730
6116     999.9  542699.1  0.008162

[6117 rows x 3 columns]

## Map ICD9 to AIS 08

In [18]:
# merge map onto ICD codes
icd_codes = icd_codes.merge(smt_map[['icd9_code','ais_code']], how='left', left_on='icd9_code', right_on='icd9_code')
icd_codes.head(45)

    key icd9_code  ais_code
0     0    D850.0  161001.1
1     1    D805.2  650420.2
2     1    D805.4  650620.2
3     1   D807.03  450203.3
4     2   D820.21  853151.3
5     3    D805.4  650620.2
6     3   D823.01  854471.2
7     3   D825.20  852004.2
8     4    D879.4  510602.1
9     5   D801.22  150202.3
10    6   D812.00  751111.2
11    7   D820.22  853221.3
12    8   D852.20  140650.3
13    8    D873.0  110600.1
14    9   D811.02  750961.2
15    9   D852.02  140694.2
16    9    D873.1  110806.3
17   10   D873.50  123002.4
18   11    D805.4  650620.2
19   11    D805.6  856100.2
20   11    D808.0  856251.2
21   11    D808.2  856151.2
22   11   D808.51  856152.3
23   12    D873.0  110600.1
24   13   D802.29  250602.1
25   13   D804.02  251900.3
26   13    D879.8  910800.1
27   14   D807.05  450203.3
28   14    D860.2  442200.3
29   14   D861.21  441406.2
30   14   D865.14  544228.5
31   15    D850.9  161000.1
32   16   D850.11  161004.2
33   17    D802.1  251002.2
34   17   D805.05  650218.2
35   17   D807.01  450201.1
36   17   D861.21  441406.2
37   17   D873.20  251004.1
38   18   D820.21  853151.3
39   19   D801.02  150202.3
40   19   D801.12  150202.3
41   19   D851.02  140622.3
42   19   D852.02  140694.2
43   19   D852.22  140440.2
44   19    D873.0  110600.1

In [31]:
# sort in ascending order
icd_codes = icd_codes.sort_values(['key','icd9_code'])

In [32]:
# convert codes to numbers
icd_codes['ais_code'] = icd_codes.ais_code.astype(np.float64)

In [33]:
# fill in unmapped codes with '-1'
icd_codes = icd_codes.fillna(-1)

In [34]:
# fill in uspecified codes with 0
icd_codes = icd_codes.replace(-100000, 0)

## Evaluate map

In [35]:
# number of codes that do not map
print("Unmatched", sum(icd_codes.ais_code==-1))
print("% Unmatched", sum(icd_codes.ais_code==-1)/len(icd_codes)*100)

Unmatched 115
% Unmatched 0.026088929219600723

In [36]:
# number of unspecified codes
print("Unspecified", sum(icd_codes.ais_code==0))
print("% Unspecified", sum(icd_codes.ais_code==0)/len(icd_codes)*100)

Unspecified 0
% Unspecified 0.0

In [37]:
# number of codes
len(icd_codes)

440800

In [38]:
# number of patients
len(icd_codes.key.unique())

122374

## Convert to codes list

In [39]:
icd_codes = icd_codes.groupby('key')['ais_code'].apply(list).reset_index(name='ais_code').drop(columns=['key'])

In [40]:
icd_codes.head(5)

                         ais_code
0                      [161001.1]
1  [650420.2, 650620.2, 450203.3]
2                      [853151.3]
3  [650620.2, 854471.2, 852004.2]
4                      [510602.1]

## Store results

In [41]:
icd_codes.to_csv("../Results/test_ais_pred_smt_map.csv", index=False, header=False)